/*Estilos gerais*/
*{
    color: #25282E;
}

a, i {
    transition: .3s;
    text-decoration: none;
}

.secondary-color{
    color: #555;
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn{
    text-decoration: none;
    background-color: #25282E;
    color: white;
    padding: 7px 18px;
    border-radius: 0;
}

.btn:hover{
    background-color: #333;
    color:white;
}

span{
    text-decoration: underline;
    font-weight: 650;
    font-style: italic;
}

/*HEADER*/
#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#header p {
    margin-bottom: 0;
}

#logo-container{
    display: flex;
    justify-content: center;
}

#logo{
    margin-left: -40px;
    width: 40px;
    padding-right: 5px;
}

/*NAVBAR*/
#navbar{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar a{
    font-size: 1.1rem;
    transition: .5s;
    width: 110px;
    color: #444;
}


#navbar a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    color: #c1b696;
}

/*MAIN IMAGE*/
.main-image{
    height: 400px;
    background-image: url('../img/g_1.jpg');
    margin-bottom: 30px;
    position: relative;
}

.main-image-info{
    background-color: white;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    box-shadow: 3px 3px 10px black;
}