/*Estilos gerais*/
*{
    color: #25282E;
}

a, i {
    transition: .3s;
    text-decoration: none;
}

.secondary-color{
    color: #555;
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn{
    text-decoration: none;
    background-color: #25282E;
    color: white;
    padding: 7px 18px;
    border-radius: 0;
}

.btn:hover{
    background-color: #333;
    color:white;
}

span{
    text-decoration: underline;
    font-weight: 550;
    font-style: italic;
}

/*HEADER*/
#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#header p {
    margin-bottom: 0;
}

#logo-container{
    display: flex;
    justify-content: center;
}

#logo{
    margin-left: -40px;
    width: 40px;
    padding-right: 5px;
}

/*NAVBAR*/
#navbar{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar a{
    font-size: 1.1rem;
    transition: .5s;
    width: 110px;
    color: #444;
}


#navbar a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    color: #c1b696;
}

/*MAIN IMAGE*/
.main-image{
    box-shadow: 3px 3px 10px black;
    height: 400px;
    background-image: url('../img/g_1.jpg');
    margin-bottom: 30px;
    position: relative;
}

.main-image-info{
    background-color: white;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    box-shadow: 3px 3px 10px black;
}

/*GALLERY*/
#img-2{
    background-image: url('../img/g_2.jpg');
    transition: ease .5s;
}

#img-3{
    background-image: url('../img/g_3.jpg');
    transition: ease .5s;
}

#img-4{
    background-image: url('../img/g_4.jpg');
    transition: ease .5s;

}

#img-5{
    background-image: url('../img/g_5.jpg');
    transition: ease .5s;
}

#img-6{
    background-image: url('../img/g_6.jpg');
    transition: ease .5s;
}

#img-6-center{
    margin-left:25%;
    margin-top: 30px;
}

#img-2:hover, #img-3:hover, #img-4:hover, #img-5:hover, #img-6:hover{
    transform: scale(1.05);
}

#gallery-container{
    box-shadow: 3px 3px 10px #25282E;
    margin-bottom: 50px;
    width: 1300px;
}

#gallery-container h1{
    font-style: italic;
    margin-top: 50px;
    text-align: center;
}

.col-md-6, .col-12{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-image-container{
    height: 250px;
    width: 450px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px black;
}

/*FOOTER*/

footer{
    border-top: 1px solid #ccc;
    height: 250px;
    padding: 30px;
}

footer i{
    font-size: 20px;
}

#social-icons-container{
    padding: 25px;
}


#social-icons-container div{
    text-align: center;
}

footer p{
    text-align: center;
    margin: 20px;
}

a:hover i{
    color: #c1b696;
}
